html,
body,
div,
span,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
pre,
a,
address,
code,
del,
em,
img,
ins,
strike,
strong,
sub,
sup,
var,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
canvas,
footer,
header,
menu,
nav,
section,
summary {
  margin: 0px;
  padding: 0px;
  border: 0px;
  font-size: 100%;
  vertical-align: baseline;
}

@font-face {
  font-family: regular;
  src: url(../../montserrat/static/Montserrat-Regular.ttf);
}
@font-face {
  font-family: bold;
  src: url(../../montserrat/static/Montserrat-Bold.ttf);
}
@font-face {
  font-family: light;
  src: url(../..//montserrat/static/Montserrat-Light.ttf);
}
@font-face {
  font-family: thin;
  src: url(../..//montserrat/static/Montserrat-Thin.ttf);
}
@font-face {
  font-family: extrathin;
  src: url(../..//montserrat/static/Montserrat-Thin.ttf);
}
body {
  overflow-x: hidden;
}
body .background {
  transition: 5s ease-in-out;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  justify-content: flex-end;
  background-image: linear-gradient(0deg, rgba(255, 255, 255, 0) 58%, rgba(26, 98, 255, 0.4) 88%), url(../../images/beach2.jpg);
  background-size: cover;
  height: 100vh;
  width: 100vw;
}
body .background .cardContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  flex-wrap: wrap;
  width: 50vw;
  font-family: regular;
  justify-content: space-evenly;
}
body .background .cardContainer .card {
  height: 11rem;
  aspect-ratio: 16/9;
  background-size: 125%;
  background-position: 100% 0%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  border-radius: 12px;
  transition: cubic-bezier(0.57, 0.21, 0.69, 1) 5s;
}
body .background .cardContainer .card h3 {
  border-radius: 12px;
  height: 100%;
  width: 100%;
  text-align: right;
  color: white;
  font-size: 1.9rem;
  padding-top: 15px;
  padding-right: 10px;
  cursor: pointer;
}
body .background .cardContainer .card h3:focus {
  border: 2px white solid;
}
body .background .cardContainer .pickleCard {
  background-image: url(../../images/pickleballBG.jpg);
}
body .background .cardContainer .crashCard {
  background-image: url(../../images/image.png);
}

header {
  width: 100vw;
  height: auto;
  position: fixed;
}
header .title {
  text-align: right;
  margin-right: 2rem;
  font-family: regular;
  font-size: 3.75rem;
  margin-top: 25px;
  color: white;
}
header h5 {
  font-size: 1.5rem;
  font-family: thin;
  text-align: right;
  color: white;
  margin-right: 2rem;
}
header h5 a {
  color: white;
  text-decoration: none;
}

.pickleBGAnimate {
  animation-duration: 0.5s;
  animation-name: pickleBGAnimation;
  animation-timing-function: ease-in;
  animation-direction: normal;
}

@keyframes pickleBGAnimation {
  from {
    background-image: url(../../images/beach2.jpg);
  }
  to {
    background-image: url(../../images/pickleballBG.jpg);
  }
}/*# sourceMappingURL=main.css.map */