html,
body,
div,
span,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
pre,
a,
address,
code,
del,
em,
img,
ins,
strike,
strong,
sub,
sup,
var,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
canvas,
footer,
header,
menu,
nav,
section,
summary {
  margin: 0px;
  padding: 0px;
  border: 0px;
  vertical-align: baseline;
}

@font-face {
  font-family: regular;
  src: url(../../montserrat/static/Montserrat-Regular.ttf);
}
@font-face {
  font-family: bold;
  src: url(../../montserrat/static/Montserrat-Bold.ttf);
}
@font-face {
  font-family: light;
  src: url(../..//montserrat/static/Montserrat-Light.ttf);
}
@font-face {
  font-family: thin;
  src: url(../..//montserrat/static/Montserrat-Thin.ttf);
}
@font-face {
  font-family: extrathin;
  src: url(../..//montserrat/static/Montserrat-Thin.ttf);
}
body {
  overflow-x: hidden;
}
body .background {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  justify-content: flex-end;
  height: 100vh;
  width: 100vw;
}
body .background .cardContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  flex-wrap: wrap;
  width: clamp(37.5rem, 35rem + 6.667vw, 40.625rem);
  font-family: regular;
  justify-content: space-evenly;
}
body .background .cardContainer a {
  text-decoration: none;
}
body .background .cardContainer .card {
  height: clamp(9rem, 7.286rem + 4.571vw, 11rem);
  aspect-ratio: 16/9;
  background-size: 125%;
  background-position: 100% 0%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  border-radius: 12px;
  transition: cubic-bezier(0.57, 0.21, 0.69, 1) 0.25s;
  margin-top: 25px;
}
body .background .cardContainer .card h3 {
  border-radius: 12px;
  height: 100%;
  width: 100%;
  text-align: right;
  color: white;
  font-size: 1.9rem;
  padding-top: 15px;
  padding-right: 10px;
  cursor: pointer;
  text-decoration: none;
}
body .background .cardContainer .card h3:focus {
  border: 2px white solid;
}
body .background .cardContainer .pickleCard {
  background-image: url(../../images/pickleballBG.jpg);
}
body .background .cardContainer .crashCard {
  background-image: url(../../images/sirens2.png);
}

.beachBackground {
  width: 100vw;
  height: 100vh;
  position: absolute;
  top: 0;
  left: 0;
  background-image: linear-gradient(0deg, rgba(255, 255, 255, 0) 58%, rgba(26, 98, 255, 0.4) 88%), url(../../images/beach2.jpg);
  background-size: cover;
  opacity: 1;
  z-index: -1;
  transition: cubic-bezier(0.57, 0.21, 0.69, 1) 0.5s;
}

.pickleBackground {
  width: 100vw;
  height: 100vh;
  position: absolute;
  top: 0;
  left: 0;
  background-image: url(../../images/pickleballBG2.jpg);
  opacity: 0;
  z-index: -1;
  transition: cubic-bezier(0.57, 0.21, 0.69, 1) 0.5s;
}

.crashBackground {
  width: 100vw;
  height: 100vh;
  position: absolute;
  top: 0;
  left: 0;
  background-image: url(../../images/image.png);
  opacity: 0;
  z-index: -1;
  transition: cubic-bezier(0.57, 0.21, 0.69, 1) 0.5s;
}

.crashBody {
  background-color: black;
}

header {
  z-index: 2;
}
header .crashTitle {
  text-shadow: 3px 3px 2px rgb(198, 0, 0);
}

.crashBackground2 {
  width: 100vw;
  height: 100vh;
  background-image: url(../../images/nightBG.jpg);
  background-size: cover;
  filter: grayscale(100%);
  position: absolute;
  top: 0;
  left: 0;
}

.infoContainer {
  width: 100vw;
  height: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  justify-content: space-evenly;
  position: absolute;
  margin: 0 auto;
  color: white;
  text-align: center;
  font-family: light;
}
.infoContainer .crashCard {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: clamp(13rem, 5.067rem + 14.933vw, 20rem);
  height: 100%;
  aspect-ratio: 3/1;
  background-color: rgb(25, 25, 25);
  margin-top: 10rem;
}
.infoContainer .crashCard h3 {
  padding: 5px;
  font-size: clamp(1.2rem, 0.52rem + 1.28vw, 1.8rem);
}
.infoContainer .crashCard iframe {
  width: clamp(13rem, 5.067rem + 14.933vw, 20rem);
  aspect-ratio: 1/1;
}
.infoContainer .crashCard img {
  width: clamp(13rem, 5.067rem + 14.933vw, 20rem);
}
.infoContainer .crashCard p {
  font-size: clamp(1rem, 0.717rem + 0.533vw, 1.25rem);
  font-family: thin;
  padding: 10px;
}
.infoContainer .whereCard,
.infoContainer .howCard {
  box-shadow: 3px 3px rgb(52, 167, 255);
}
.infoContainer .personCard {
  box-shadow: 3px 3px rgb(198, 0, 0);
}

header {
  width: 100vw;
  height: auto;
  position: fixed;
}
header .title {
  text-align: right;
  margin-right: 2rem;
  font-family: regular;
  font-size: clamp(2.75rem, 0.75rem + 5.333vw, 3.75rem);
  margin-top: 25px;
  color: white;
}
header h5 {
  font-size: 1.5rem;
  font-family: thin;
  text-align: right;
  color: white;
  margin-right: 2rem;
}
header h5 a {
  color: white;
  text-decoration: none;
}

@media (min-width: 1300px) {
  body .background .cardContainer {
    width: 50vw;
  }
}
@media (max-width: 850px) {
  .infoContainer {
    flex-direction: column;
    margin-top: 2.75rem;
  }
  .infoContainer .crashCard {
    width: clamp(16rem, 8rem + 42.667vw, 20rem);
  }
  .infoContainer .crashCard h3 {
    font-size: clamp(1.45rem, 0.85rem + 3.2vw, 1.75rem);
  }
  .infoContainer .crashCard iframe {
    width: clamp(16rem, 8rem + 42.667vw, 20rem);
    height: clamp(16rem, 8rem + 42.667vw, 20rem);
  }
  .infoContainer .crashCard img {
    width: clamp(16rem, 8rem + 42.667vw, 20rem);
  }
  .infoContainer .crashCard p {
    font-size: clamp(1.15rem, 0.95rem + 1.067vw, 1.25rem);
  }
}
@media (max-width: 600px) {
  header .title {
    font-size: clamp(2.25rem, 1.75rem + 2.667vw, 2.75rem);
    margin-right: 0;
    text-align: center;
  }
  header h5 {
    text-align: center;
    margin-right: 0;
  }
  body .background .cardContainer {
    width: 100vw;
  }
  body .background .cardContainer .card {
    height: clamp(9.5rem, 5rem + 24vw, 14rem);
  }
}/*# sourceMappingURL=main.css.map */