@font-face {
  font-family: regular;
  src: url(../../montserrat/static/Montserrat-Regular.ttf);
}
@font-face {
  font-family: bold;
  src: url(../../montserrat/static/Montserrat-Bold.ttf);
}
@font-face {
  font-family: light;
  src: url(../..//montserrat/static/Montserrat-Light.ttf);
}
@font-face {
  font-family: thin;
  src: url(../..//montserrat/static/Montserrat-Thin.ttf);
}
@font-face {
  font-family: extrathin;
  src: url(../..//montserrat/static/Montserrat-Thin.ttf);
}
