body {
  overflow-x: hidden;
  .background {
    @include flexCenter(row);
    justify-content: flex-end;
    background-image: linear-gradient(
        0deg,
        rgba(255, 255, 255, 0) 58%,
        rgba(26, 98, 255, 0.4) 88%
      ),
      url(../../images/beach2.jpg);
    background-size: cover;
    height: 100vh;
    width: 100vw;
    .cardContainer {
      @include flexCenter(row);
      flex-wrap: wrap;
      width: clamp(37.5rem, 35rem + 6.667vw, 40.625rem);
      font-family: regular;
      justify-content: space-evenly;
      .card {
        height: 11rem;
        aspect-ratio: 16/9;
        background-size: 125%;
        background-position: 100% 0%;
        @include flexCenter(row);
        border-radius: 12px;
        transition: cubic-bezier(0.57, 0.21, 0.69, 1) 5s;
        margin-top: 25px;
        h3 {
          border-radius: 12px;
          height: 100%;
          width: 100%;
          text-align: right;
          color: white;
          font-size: 1.9rem;
          // backdrop-filter: blur(0.75px);
          padding-top: 15px;
          padding-right: 10px;
          cursor: pointer;
          &:focus {
            border: 2px white solid;
          }
        }
      }
      .pickleCard {
        background-image: url(../../images/pickleballBG.jpg);
      }
      .crashCard {
        background-image: url(../../images/sirens2.png);
      }
    }
  }
}
