@media (min-width: 1300px) {
  body {
    .background {
      .cardContainer {
        width: 50vw;
      }
    }
  }
}

@media (max-width: 850px) {
  .infoContainer {
    flex-direction: column;
    margin-top: 2.75rem;
    .crashCard {
      width: clamp(16rem, 8rem + 42.667vw, 20rem);
      h3 {
        font-size: clamp(1.45rem, 0.85rem + 3.2vw, 1.75rem);
      }
      iframe {
        width: clamp(16rem, 8rem + 42.667vw, 20rem);
        height: clamp(16rem, 8rem + 42.667vw, 20rem);
      }
      img {
        width: clamp(16rem, 8rem + 42.667vw, 20rem);
      }
      p {
        font-size: clamp(1.15rem, 0.95rem + 1.067vw, 1.25rem);
      }
    }
  }
}

@media (max-width: 600px) {
  header {
    .title {
      font-size: clamp(2.25rem, 1.75rem + 2.667vw, 2.75rem);
      margin-right: 0;
      text-align: center;
    }
    h5 {
      text-align: center;
      margin-right: 0;
    }
  }
  body {
    .background {
      .cardContainer {
        width: 100vw;
        .card {
          height: clamp(9.5rem, 5rem + 24vw, 14rem);
        }
      }
    }
  }
}
