body {
  .pickleTitle {
    text-shadow: 3px 3px 2px rgb(62, 205, 0);
  }
  .mainArea {
    width: 100vw;
    height: auto;
    @include flexCenter(column);
    padding-top: clamp(12rem, 9.647rem + 15.059vw, 20rem);
    .box {
      background-color: rgba(0, 0, 0, 0.644);
      width: 100%;
      h2 {
        text-align: center;
        color: white;
        font-family: thin;
        font-size: clamp(2rem, 1.706rem + 1.882vw, 3rem);
        padding-top: 1rem;
      }
      p {
        text-align: center;
        color: white;
        font-family: regular;
        font-size: clamp(1.05rem, 0.918rem + 0.847vw, 1.5rem);
        padding-top: 1rem;
        padding-left: clamp(2rem, -0.941rem + 18.824vw, 12rem);
        padding-right: clamp(2rem, -0.941rem + 18.824vw, 12rem);
        padding-bottom: 2rem;
      }
    }
    .box2 {
      margin-top: clamp(10rem, 8.824rem + 7.529vw, 14rem);
    }
  }
}
